
.Episode {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Episode-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
}

.Episode-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Episode-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72px;
}

.Row {
    flex-grow:1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Episode-information h3 {
  margin-bottom: .22rem;
}

.Episode-information p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}
